@model Student

<h2 class="my-2 text-center">Student Details</h2>

<table class="table table-striped mt-5 d-flex justify-content-center">
    <tr>
        <td width="200">ID</td>
        <td>@Model.ID</td>
    </tr>
    <tr>
        <td width="200">Name</td>
        <td>@Model.Name</td>
    </tr>
    <tr>
        <td width="200">Surname</td>
        <td>@Model.Surname</td>
    </tr>
    <tr>
        <td width="200">Birth Date</td>
        <td>@Model.BirthDate.ToLongDateString()</td>
    </tr>
</table>

<div class="text-center mt-4">
    <a href="/Student/Edit/@Model.ID"
        class="btn btn-warning text-white mx-1 px-3">Edit</a>

    <a href="/Student/Delete/@Model.ID"
        class="btn btn-danger mx-1 px-3">Delete</a>
</div>


