@model List<Student>

<h2 class ="my-2 text-center">Student List</h2>

<table class="container table table-striped mt-5">
    <thead class="table-primary">
        <tr>
            <td class="p-2 text-center"> ID </td>
            <td class="p-2 text-center"> Name </td>
            <td class="p-2 text-center"> Surname </td>
            <td> </td>
        </tr>
    </thead>

    <tbody>
        @foreach(var item in Model) {

        <tr>
            <td class="pt-3 text-center"> @item.ID </td>
            <td class="pt-3 text-center"> @item.Name </td>
            <td class="pt-3 text-center"> @item.Surname </td>
            <td><a asp-controller="Student" 
                    asp-action="Detail" 
                    asp-route-id="@item.ID" 
                    class="btn btn-primary" 
                    role="button"> Click For Detail </a>
            </td>
            
        </tr>
         }
    </tbody>
</table>

<div class="text-center">
    <a asp-controller="Student"
        asp-action="Create"
        class="btn btn-success text-white mx-1 px-3">Create</a>
</div>

